<app-steps-template [step]="'permissions'"></app-steps-template>
<div class="row no-gutters">
    <div class="col-md-12  mb-1 mt-n3">
        <ng-container *ngIf="dataStatus">
                <div class="modal-body">
                    <form  (ngSubmit)="save(dataForm, f)" #f="ngForm">


                        <div class="row">

                            <div class="col-md-3 mb-1">
                                <input [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" class="form-control mt-0" placeholder="Enter permission Name">
                            </div>
                            <div class="button-box">
                                <button type="button" class="red" [routerLink]="['/admin/employees/list']" routerLinkActive="router-link-active">Goto List</button>
                                <button class="blue" [routerLink]="['/admin/employees/salary-details']" [queryParams]="{id:employeeId}">back</button>
                                <button class="green" (click)="assignPermissions()" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Save & Next
                                    <span></span><span></span><span></span>
                                </button>
                            </div>

                        </div>


                        <div class="permissions-container">

                            <div class="permissions-list-box">
                                <label class="mb-0 heading-permissions">Click on permissions to add in role</label>
                                <div class="row">
                                    <div class="col-md-6" *ngFor="let d of permissionsList | filter:searchString; let i = index">
                                        <div class="permissions-items" (click)="selectPermission(d)">
                                            {{d.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="arrow"><i class="fas fa-arrows-alt-h"></i></div>

                            <div class="permissions-list-box">
                                <label class="mb-0 heading-permissions">Selected Permissions</label>
                                <div class="row">
                                    <div class="col-md-6" *ngFor="let d of selectedPermissions; let i = index">
                                        <div class="permissions-items" (click)="unselectPermission(d)">
                                            {{d.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

        </ng-container>
        <div class="details-container" *ngIf="!dataStatus">
            <img src="/assets/img/loading.gif" style="width: 70px; margin-top: 5%;">
        </div>
    </div>
</div>
