<!-- <p>
  fiscal-year works!
</p> -->
<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-end">
            <button *ngIf="api.checkPermission('add-fiscal-year')" class="green sm mb-2" (click)="openModalSubject(fyAdder, -1)">Add Fiscal Year</button>
        </div>
        <div class="card">
            <h4 class="card-header">Fiscal Years</h4>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th class="text-center" *ngIf="api.checkPermission('update-fiscal-year')" >Actions</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="dataStatus == 'fetching'">
                            <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                        </ng-container>
                        <ng-container *ngIf="dataStatus == 'done'">
                            <tbody *ngIf="yearsData.length > 0; else noDataFound">
                                <tr *ngFor="let d of yearsData; let i = index">
                                    <td>{{d.title}} </td>
                                    <td>{{d.description}} </td>
                                    <td>{{d.start_date |  date:'longDate' }} </td>
                                    <td>{{d.end_date |  date:'longDate' }} </td>

                                    <td class="d-flex justify-content-center align-content-center">

                                        <div *ngIf="api.checkPermission('update-fiscal-year')" class="px-2">
                                            <i class="fa fa-edit" (click)="openModalSubject(fyAdder,i)"></i>
                                        </div>
                                        <!-- <button type="button" class="sm green" (click)="openModalSubject(fyAdder,i)">Edit</button> -->
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #noDataFound>
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            <app-no-data-found></app-no-data-found>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #fyAdder>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Fiscal Year</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="fyForm" #f="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <label class="mb-0">Title:<span class="mendatory">*</span></label>
                            <input style="" formControlName="title" type="text" class="form-control mt-0" placeholder="Enter link" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.title, f)" class="errors">
                                <p *ngIf="g.title.errors.required">Title is required</p>
                                <p *ngIf="g.title.errors.maxlength">Title should be 100 Characters</p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description <span class="mendatory">*</span></label>
                                <textarea rows="5" formControlName="description" class="form-control" [ngClass]="{'form-submitted': f.submitted}" placeholder="Enter Description"></textarea>
                                <div *ngIf="ui.checkErrors(g.description, f)" class="errors">
                                    <p *ngIf="g.description.errors.maxlength">Description should not be more than 1000 Characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" formControlName="start_date" placeholder="Enter Start Date" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.start_date, f)" class="errors">
                                    <p *ngIf="g.start_date.errors.required">Start Date required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date<span class="mendatory">*</span></label>
                                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" formControlName="end_date" placeholder="Enter End Date" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.end_date, f)" class="errors">
                                    <p *ngIf="g.end_date.errors.required">End Date required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" appSmartClick (smartClick)="save(f)" class="green sm m-1" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">save
                <span></span><span></span><span></span>
            </button>
            <button type="button" class="red sm ml-1" (click)="cancelButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>
