.admin-panel {
    .starik{
        color: red;
        font-size: 25px;
        line-height: 20px;
    }
    .starik-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .starik-content select, .starik-content input{
        width: calc(100% - 15px);
    }
    input {
        background: #fbfbfb;
    }
    input:not([type="checkbox"]),
    input:not([type="radio"]),
    textarea, select{
        width: 100%;
        border: 1px solid #E0E0DB;
        background: #fbfbfb;
        border-radius: 3px;
        padding: 4px 10px;
        height: 38px;
        font-size: 14px;
        margin: 0px 0px;
    }
    textarea {
        height: auto !important;
    }

    input:focus, select:focus, textarea:focus {
        border: 2px solid #999;
        box-shadow: none;
        outline: none;
    }

    .label {
        color: #555;
        font-size: 13px;
        font-weight: 500;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #9aa1ab;
        font-weight: 300;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #9aa1ab;
        font-weight: 300;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #9aa1ab;
        font-weight: 300;
    }

    /* Input Groups */
    .input-group>.custom-file, .input-group>.select, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
        margin: 3px 0px !important;
    }

    .input-group select {
        height: 38px;
        margin-top: 3px;
    }

    .input-group button {
        height: 38px;
        font-weight: bold;
    }

    .input-group-prepend {
        margin-right: -4px !important;
    }

    .input-group-append {
        margin-left: -4px !important;
    }

    .form-control {
        font-size: 0.9rem !important;
        height: 38px;
    }

    /* Input Errors */
    .ng-invalid.ng-touched, .ng-invalid.ng-dirty, .ng-invalid.form-submitted {
        border-color: lightcoral !important;
    }

    .errors p{
        font-size: 13px;
        color: #f12112;
    }
}
.website {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b2b2b2;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #b2b2b2;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #b2b2b2;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #b2b2b2;
    }
        /* Input Errors */
        .ng-invalid.ng-touched, .ng-invalid.ng-dirty, .ng-invalid.form-submitted {
            border-color: lightcoral !important;
        }

        .errors p{
            margin: 0px;
            font-size: 13px;
            color: #f12112;
        }
}
