<!-- <p>
    employee-salary-log works!
</p> -->

<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="row mb-1">
            <div class="col-md-5">
                <div class="form-group m-0">
                    <select class="form-control" [(ngModel)]="employeeId">
                        <option disabled value="">Select Employee</option>
                        <option *ngFor="let e of employeeList" [value]="e.id">{{e.user.first_name}} {{e.user.last_name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button class="green" (click)="search()" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Search
                    <span></span><span></span><span></span>
                </button>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Employee Salary Log</h4>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount Paid</th>
                                <th>Salary Month</th>
                                <th>Salary Year</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataStatus == 'done'">
                            <tr *ngFor="let s of employeeSalaryLogList; let i = index">
                                <td>{{s.employee.title+'. '+s.employee.user.first_name+' '+s.employee.user.last_name}} </td>
                                <td>{{s.amount_paid | mask: 'separator':',' }} </td>
                                <td>{{s.salary_month}}</td>
                                <td>{{s.salary_year}}</td>
                            </tr>
                        </tbody>
                        <ng-container *ngIf="dataStatus == 'fetching' && searched">
                            <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                        </ng-container>
                        <tbody *ngIf="employeeSalaryLogList.length == 0 && dataStatus == 'done'">
                            <tr>
                                <td colspan="4">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!searched">
                            <tr>
                                <td colspan="4">
                                    <div class="no-data-wrapper">
                                        <h2>Please Select employee and click serach to get log list.</h2>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" *ngIf="dataStatus == 'done'">
                        <ul class="pagination justify-content-left  mt-3">
                            <li class="page-item">
                                <small *ngIf="page<10">Current Page: 0{{page}}</small>
                                <small *ngIf="page>=10">Current Page: {{page}}</small>
                            </li>
                        </ul>
                        <ul class="pagination justify-content-left">
                            <li class="page-item" *ngIf="pagination.prev_page_url != null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(page-1)">Previous</a>
                            </li>
                            <li class="page-item disabled" *ngIf="pagination.prev_page_url == null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1">Previous</a>
                            </li>
                            <ng-container *ngIf="pagination.last_page <= 6">
                                <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                                    <li [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="pagination.last_page >= 7">
                                <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                                    <li *ngIf="i<4" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                    <li *ngIf="(pagination.last_page-i) == 3" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link">...</a>
                                    </li>
                                    <li *ngIf="(pagination.last_page-i)==1 || (pagination.last_page-i)==2" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                            <li class="page-item" *ngIf="pagination.next_page_url != null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(+page+1)">Next</a>
                            </li>
                            <li class="page-item disabled" *ngIf="pagination.next_page_url == null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>