<div class="container-fluid justify-content-center mt-3">
    <div class="">
        <h4 class="font-bold mb-3">Add Client</h4>
        <form [formGroup]="clientForm" (ngSubmit)="save(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Title: <span class="mendatory">*</span></label>
                                <select formControlName="title" class="fadeIn" class="form-control" [ngClass]="{'form-submitted': f.submitted}">
                                    <option disabled [value]="null">Select Title</option>
                                    <option value="Mr">Mr.</option>
                                    <option value="Ms">Ms.</option>
                                    <option value="Miss">Miss.</option>
                                    <option value="Mrs">Mrs.</option>
                                </select>
                                <div *ngIf="ui.checkErrors(g.title , f)" class="errors">
                                    <p *ngIf="g.title.errors.required">Title is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gender: <span class="mendatory">*</span></label>
                                <select formControlName="gender" class="fadeIn" class="form-control" [ngClass]="{'form-submitted': f.submitted}">
                                    <option disabled [value]="null">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div *ngIf="ui.checkErrors(g.gender , f)" class="errors">
                                    <p *ngIf="g.gender.errors.required">Gender is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>First Name <span class="mendatory">*</span></label>
                                <input formControlName="first_name" class="form-control" placeholder="Enter First Name" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.first_name , f)" class="errors">
                                    <p *ngIf="g.first_name.errors.required"> First Name is required</p>
                                    <p *ngIf="g.first_name.errors.maxlength">First name should not exceed 50 characters}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Last Name <span class="mendatory">*</span></label>
                                <input formControlName="last_name" class="form-control" placeholder="Enter Last Name" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.last_name , f)" class="errors">
                                    <p *ngIf="g.last_name.errors.required">Last Name is required</p>
                                    <p *ngIf="g.last_name.errors.maxlength">Last Name should not exceed 50 characters}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date of Birth <span class="mendatory">*</span></label>
                                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" formControlName="dob" placeholder="Enter Date of Birth" [ngClass]="{'form-submitted': f.submitted}" />
                                <div *ngIf="ui.checkErrors(g.dob, f)" class="errors">
                                    <p *ngIf="g.dob.errors.required">Date of Birth required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email <span class="mendatory">*</span></label>
                                <input formControlName="email" class="form-control" placeholder="Enter Email" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.email, f)" class="errors">
                                    <p *ngIf="g.email.errors.required">Email is required</p>
                                    <p *ngIf="g.email.errors.email">Please enter valid email</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Skype ID <span class="mendatory">*</span></label>
                                <input formControlName="skype_id" class="form-control" placeholder="Skype ID" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.skype_id, f)" class="errors">
                                    <p *ngIf="g.skype_id.errors.required">Skype is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Address</label>
                                <input formControlName="address" class="form-control " placeholder="Enter Address" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.address, f)" class="errors">
                                    <p *ngIf="g.address.errors.required">Address is required</p>
                                    <p *ngIf="g.address.errors.maxlength">Maximum {{ g.address.maxlength.requiredLength }} charaters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Primary Contact <span class="mendatory">*</span></label>
                                <input formControlName="contact_1" class="form-control" placeholder="Enter Primary Contact" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.contact_1, f)" class="errors">
                                    <p *ngIf="g.contact_1.errors.required">Primary Contact is required</p>
                                    <p *ngIf="g.contact_1.errors.maxlength">Maximum 15 digits </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Secondary Contact</label>
                                <input formControlName="contact_2" class="form-control" placeholder="Enter Secondary Contact" [ngClass]="{'form-submitted': f.submitted}">
                                <div *ngIf="ui.checkErrors(g.contact_2, f)" class="errors">
                                    <p *ngIf="g.contact_2.errors.maxlength">Maximum 15 charaters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Description <span class="mendatory">*</span></label>
                                <textarea rows="5" formControlName="description" class="form-control" [ngClass]="{'form-submitted': f.submitted}" placeholder="Enter Description"></textarea>
                                <div *ngIf="ui.checkErrors(g.description, f)" class="errors">
                                    <p *ngIf="g.description.errors.maxlength">Description should not be more than 1000 Characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="center-txt col-md-8">
                            <button type="submit" class="blue" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Save
                                <span></span><span></span><span></span>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="tut-pro-photo">
                                    <img [src]="thumbnail" id="banner-img">
                                    <input type="file" style="display: none;" id="thumbnail-image" (change)="onThumbnailChange($event, cropperModal)">
                                    <div class="text-center">
                                        <button type="button" class="green sm" (click)="browseThumbnail($event)" style="min-width: 100px">Browse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <ng-template #cropperModal>
        <div class="modal-body">
            <ng-scrollbar class="modal-scrollbar">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrapper">
                            <h2 class="title" style="font-size: 20px;">Adjust Image Size</h2>
                            <div>
                                <button type="button" class="sm red" (click)="doneCroppingThumbnail()">Done</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="100/100" [onlyScaleDown]="true" [roundCropper]="false" format="png" outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [alignImage]="'center'">
                        </image-cropper>
                    </div>
                </div>
            </ng-scrollbar>
        </div>
    </ng-template>
</div>