.edit {
    color: #007bff;
    cursor: pointer;
}

.danger {
    color: red;
    cursor: pointer;
}

tbody tr .text-center {
    text-align: center;
}

.fa-eye,
.fa-eye-slash {
    cursor: pointer;
    font-size: 16px;
}

.teal-color {
    color: #04a28c;
}
