<!-- <p>
    project-credentials works!
</p> -->

<app-steps [step]="'project-credentials'"></app-steps>
<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-end">
            <div>
                <button type="button" class="red sm mb-2" (click)="goToBack()">Back</button>
                <button type="button" class="blue sm mb-2" [routerLink]="['/admin/projects/projects-list']" routerLinkActive="router-link-active">Goto Project List</button>
                <button class="green sm mb-2" (click)="openModalSubject(addCredentialsTemplete, -1)">Add Credential</button>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header">Credentials List</h4>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Username Email</th>
                                <th>Password</th>
                                <th>IP URL</th>
                                <th>Port</th>
                                <th>key</th>
                                <th class="col-actions">Action</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="dataStatus == 'fetching'">
                            <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                        </ng-container>
                        <ng-container *ngIf="dataStatus == 'done'">
                            <tbody *ngIf="projectCredentialsList.length > 0; else noDataFound">
                                <tr *ngFor="let row of projectCredentialsList; let i = index">
                                    <td>{{ row.title }}</td>
                                    <td>{{ row.username_email }}</td>
                                    <td class="text-center">
                                        <span *ngIf="row.showPassword">{{ row.password }}</span>
                                        <span *ngIf="!row.showPassword" (click)="row.showPassword =! row.showPassword"><i class="fa fa-eye teal-color"></i></span> &nbsp;
                                        <span *ngIf="row.showPassword" (click)="row.showPassword =! row.showPassword"><i class="fa fa-eye-slash teal-color"></i></span>
                                    </td>
                                    <td>{{ row.ip_url }}</td>
                                    <td>{{ row.port }}</td>
                                    <td>{{ row.key }}</td>
                                    <td>
                                        <div class=" d-flex justify-content-center">
                                            <div class="px-2 edit">
                                                <span>
                                                    <a><i class="fa fa-edit" (click)="openModalSubject(addCredentialsTemplete,i)"></i></a>
                                                </span>
                                            </div>
                                            <div class="px-2 danger">
                                                <i class="fa fa-trash" (click)="confirmingModal(deleteTemplate, row.id,i)"></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #noDataFound>
                                <tbody>
                                    <tr>
                                        <td colspan="7">
                                            <app-no-data-found></app-no-data-found>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #addCredentialsTemplete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Credential</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="credentialsForm" #f="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label>Title <span class="mendatory">*</span></label>
                            <input formControlName="title" type="text" class="form-control mt-0" placeholder="Enter Title" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.title, f)" class="errors">
                                <p *ngIf="g.title.errors.required">Title is required</p>
                                <p *ngIf="g.title.errors.maxlength">Title should be 125 Characters</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>IP URL <span class="mendatory">*</span></label>
                            <input formControlName="ip_url" type="text" class="form-control mt-0" placeholder="Enter IP URL" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.ip_url, f)" class="errors">
                                <p *ngIf="g.ip_url.errors.required">IP URL is required</p>
                                <p *ngIf="g.ip_url.errors.maxlength">IP URL should be 125 Characters</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>Username_Email <span class="mendatory">*</span></label>
                            <input formControlName="username_email" type="text" class="form-control mt-0" placeholder="Enter Username_Email" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.username_email, f)" class="errors">
                                <p *ngIf="g.username_email.errors.required">Username_Email is required</p>
                                <p *ngIf="g.username_email.errors.maxlength">Username_Email should be 125 Characters</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>Password <span class="mendatory">*</span></label>
                            <input formControlName="password" type="password" class="form-control mt-0" placeholder="Enter Password" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.password, f)" class="errors">
                                <p *ngIf="g.password.errors.required">Password is required</p>
                                <p *ngIf="g.password.errors.maxlength">Password should be 125 Characters</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>Port <span class="mendatory">*</span></label>
                            <input formControlName="port" type="text" class="form-control mt-0" placeholder="Enter Port" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.port, f)" class="errors">
                                <p *ngIf="g.port.errors.required">Port is required</p>
                                <p *ngIf="g.port.errors.maxlength">Port should be 125 Characters</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label>Key <span class="mendatory">*</span></label>
                            <input formControlName="key" type="text" class="form-control mt-0" placeholder="Enter Key" [ngClass]="{'form-submitted': f.submitted}">
                            <div *ngIf="ui.checkErrors(g.key, f)" class="errors">
                                <p *ngIf="g.key.errors.required">Key is required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" appSmartClick (smartClick)="save(f)" class="green sm m-1" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">save
                <span></span><span></span><span></span>
            </button>
            <button type="button" class="red sm ml-1" (click)="cancelButton(f)">Cancel</button>
        </form>
    </div>
</ng-template>

<ng-template #deleteTemplate>
    <div class="modal-body text-center">
        <p>Are you sure to delete?</p>
        <button type="button" class="sm green" (click)="modalRef.hide()">No</button>
        <button type="button" class="sm red" (click)="delete()" [disabled]="loginLoading" [ngClass]="loginLoading?'in-progress':''">Yes
            <span></span><span></span><span></span>
        </button>
    </div>
</ng-template>