<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-2">
        <div class="row mb-3">
            <!-- <div class="col-md-3">
                <label>From</label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true}" [(ngModel)]="startDate" placeholder="Enter From Date" />
            </div>
            <div class="col-md-3">
                <label>To</label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" [(ngModel)]="endDate" placeholder="Enter To Date" />
            </div> -->
            <div class="col-md-5">
                <div class="form-group m-0">
                    <label>Date</label>
                    <input class="form-control" type="text" bsDaterangepicker [bsConfig]="{ rangeInputFormat : 'MMMM Do YYYY', dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true ,isAnimated: true}" [(ngModel)]="date">
                </div>
            </div>
            <div class="col-md-4">
                <label>Select Employee Type</label>
                <select class="fadeIn" [(ngModel)]="filters.designationId">
                    <option disabled [value]="null">Select Employee Type</option>
                    <option *ngFor="let dl of designationList" [value]="dl.id">{{dl.title}}
                </select>
            </div>
            <div class="col col d-flex align-items-end">
                <label>&nbsp;</label>
                <div class="btn-group">
                    <button [disabled]="loginLoading" class="green" [ngClass]="loginLoading?'in-progress':''" (click)="search()">Search
                        <span></span><span></span><span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">Attendance</h4>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Checkin</th>
                                <th>Checkout</th>
                                <th>Duration</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataStatus == 'done'">
                            <tr *ngFor="let a of attendanceList; let i = index">
                                <ng-container *ngIf="a.data">
                                    <td *ngIf="a.employee == null">Null</td>
                                    <td *ngIf="a.employee != null">{{a.data.employee.user.first_name+ ' '+a.data.employee.user.last_name | titlecase}}</td>
                                    <td>{{moment(a.data.checkin).format('hh:mm:ss')}}</td>
                                    <td>{{moment(a.data.checkout).format('hh:mm:ss')}}</td>
                                    <td *ngIf="a.data.hours < 1">{{(a.data.hours*60).toFixed(0)}} M</td>
                                    <td *ngIf="a.data.hours > 1">{{(a.data.hours*1).toFixed(0)}} H</td>
                                    <td>{{moment(a.data.date).format('MMM Do YYYY')}}</td>
                                </ng-container>
                                <ng-container *ngIf="!a.data">
                                    <td *ngIf="a.employee == null">Null</td>
                                    <td *ngIf="a.employee != null">{{a.employee.user.first_name+ ' '+a.employee.user.last_name | titlecase}}</td>
                                    <td>{{moment(a.checkin).format('hh:mm:ss')}}</td>
                                    <td>{{moment(a.checkout).format('hh:mm:ss')}}</td>
                                    <td *ngIf="a.hours < 1">{{(a.hours*60).toFixed(0)}} M</td>
                                    <td *ngIf="a.hours > 1">{{(a.hours*1).toFixed(0)}} H</td>
                                    <td>{{moment(a.date).format('MMM Do YYYY')}}</td>
                                </ng-container>
                            </tr>
                        </tbody>  
                        <ng-container *ngIf="dataStatus == 'fetching' && searched">
                            <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                        </ng-container>
                        <tbody *ngIf="attendanceList.length == 0 && dataStatus == 'done'">
                            <tr>
                                <td colspan="5">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!searched">
                            <tr>
                                <td colspan="5">
                                    <div class="no-data-wrapper">
                                        <h2>Please Select fields and click serach to get list.</h2>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav *ngIf="dataStatus == 'done'">
                        <ul class="pagination justify-content-left  mt-3">
                            <li class="page-item">
                                <small *ngIf="filters.page<10">Current Page: 0{{filters.page}}</small>
                                <small *ngIf="filters.page>=10">Current Page: {{filters.page}}</small>
                            </li>
                        </ul>
                        <ul class="pagination justify-content-left">
                            <li class="page-item" *ngIf="pagination.prev_page_url != null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(filters.page-1)">Previous</a>
                            </li>
                            <li class="page-item disabled" *ngIf="pagination.prev_page_url == null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1">Previous</a>
                            </li>
                            <ng-container *ngIf="pagination.last_page <= 6">
                                <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                                    <li [class]="filters.page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="pagination.last_page >= 7">
                                <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                                    <li *ngIf="i<4" [class]="filters.page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                    <li *ngIf="(pagination.last_page-i) == 3" [class]="filters.page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link">...</a>
                                    </li>
                                    <li *ngIf="(pagination.last_page-i)==1 || (pagination.last_page-i)==2" [class]="filters.page==(i+1) ? 'page-item active' : 'page-item'">
                                        <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                                    </li>
                                </ng-container>
                            </ng-container>
                            <li class="page-item" *ngIf="pagination.next_page_url != null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(+filters.page+1)">Next</a>
                            </li>
                            <li class="page-item disabled" *ngIf="pagination.next_page_url == null">
                                <a class="page-link" href="javascript: void(0)" tabindex="-1">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>